<html>
<header>
    <title>Reader</title>
    <link rel="stylesheet" href="/public/styles/default.css">
</header>
<body>
    <div style="background: white;">
    <b>{{dir}}</b><pre><code>{{{contents}}}</code></pre>
    </div>
    <script src="public/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>